In [ ]:
df1 = pd.read_csv("data1.csv")
print(df1)

   Tops  Coats  Pants  Tanks  Sweats
0    15     36     21     11      27
1    20     88     56     10      21
2    25     89     94     19      35

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('data1.csv')

# Statistical operations
minimum_value = df.min()
maximum_value = df.max()
mean_value = df.mean()
median_value = df.median()
std_value = df.std()
mode_value = df.mode().iloc[0]  # Handling multiple modes
count_value = df.count()
cumulative_sum = df.cumsum()
cumulative_product = df.cumprod()

print("Minimum value:")
print(minimum_value)

print("Maximum value:")
print(maximum_value)

print("Mean value:")
print(mean_value)

print("Median value:")
print(median_value)

print("Standard deviation:")
print(std_value)

print("Mode value:")
print(mode_value)

print("Count value:")
print(count_value)

print("Cumulative sum:")
print(cumulative_sum)

print("Cumulative product:")
print(cumulative_product)

# Comparison operations
result_lt_45 = df.lt(45)
result_gt_45 = df.gt(45)
result_le_45 = df.le(45)
result_ge_45 = df.ge(45)
result_eq_45 = df.eq(45)
result_ne_45 = df.ne(45)

print("Comparison result (less than 45):")
print(result_lt_45)

# Perform other statistical and comparison operations as needed
# ...

# Save the DataFrame to a new CSV file (optional)
df.to_csv('output.csv', index=False)

Minimum value:
Tops      15
Coats     36
Pants     21
Tanks     10
Sweats    21
dtype: int64
Maximum value:
Tops      25
Coats     89
Pants     94
Tanks     19
Sweats    35
dtype: int64
Mean value:
Tops      20.000000
Coats     71.000000
Pants     57.000000
Tanks     13.333333
Sweats    27.666667
dtype: float64
Median value:
Tops      20.0
Coats     88.0
Pants     56.0
Tanks     11.0
Sweats    27.0
dtype: float64
Standard deviation:
Tops       5.000000
Coats     30.315013
Pants     36.510273
Tanks      4.932883
Sweats     7.023769
dtype: float64
Mode value:
Tops      15
Coats     36
Pants     21
Tanks     10
Sweats    21
Name: 0, dtype: int64
Count value:
Tops      3
Coats     3
Pants     3
Tanks     3
Sweats    3
dtype: int64
Cumulative sum:
   Tops  Coats  Pants  Tanks  Sweats
0    15     36     21     11      27
1    35    124     77     21      48
2    60    213    171     40      83
Cumulative product:
   Tops   Coats   Pants  Tanks  Sweats
0    15      36      21     11      27
1   300    3168    1176    110     567
2  7500  281952  110544   2090   19845
Comparison result (less than 45):
   Tops  Coats  Pants  Tanks  Sweats
0  True   True   True   True    True
1  True  False  False   True    True
2  True  False  False   True    True